@keyframes example {
  0% {font-size: 25px;}
  50% {font-size: 35px;}
  100% {font-size: 25px;}
}

.animate {
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
